@use 'sass:meta';

@use '~material-components-web' as mdc;
@use '~@material/textfield';

$cols: 60;

body {
  background-color: #fafafa;
  color: #000000de;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 30px;
}

.mdc-card {
  padding: 16px;
  max-width: $cols * 1ch + 4ch;
  display: flex;
  gap: 16px;
}

.row {
  display: flex;
  gap: 16px;
}

#title,
#select-theme {
  width: 100%;
}

#input,
#output {
  .code .mdc-text-field__input {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new,
      monospace;
  }
}

#output .code {
  margin: 0;
  padding: 0;
  display: inherit;
  border-radius: 0.375rem;

  .mdc-floating-label {
    color: inherit;
    opacity: 0.8;
  }

  .mdc-text-field__input {
    width: $cols * 1ch;
    height: 288px;
    color: inherit;
  }
}

@each $theme in [ 'a11y-dark', 'atelier-lakeside.light', 'dracula', 'paraiso-light', 'a11y-light',
  'atelier-plateau-dark', 'far', 'paraiso.light', 'agate', 'atelier-plateau.dark', 'foundation',
  'pojoaque', 'androidstudio', 'atelier-plateau-light', 'github', 'an-old-hope',
  'atelier-plateau.light', 'github-gist', 'purebasic', 'arduino-light', 'atelier-savanna-dark',
  'gml', 'qtcreator_dark', 'arta', 'atelier-savanna.dark', 'googlecode', 'qtcreator_light',
  'ascetic', 'atelier-savanna-light', 'grayscale', 'railscasts', 'atelier-cave-dark',
  'atelier-savanna.light', 'gruvbox-dark', 'rainbow', 'atelier-cave.dark', 'atelier-seaside-dark',
  'gruvbox-light', 'routeros', 'atelier-cave-light', 'atelier-seaside.dark', 'hopscotch',
  'school-book', 'atelier-cave.light', 'atelier-seaside-light', 'hybrid', 'school_book',
  'atelier-dune-dark', 'atelier-seaside.light', 'idea', 'atelier-dune.dark',
  'atelier-sulphurpool-dark', 'ir-black', 'atelier-dune-light', 'atelier-sulphurpool.dark',
  'ir_black', 'shades-of-purple', 'atelier-dune.light', 'atelier-sulphurpool-light',
  'isbl-editor-dark', 'solarized-dark', 'atelier-estuary-dark', 'atelier-sulphurpool.light',
  'isbl-editor-light', 'solarized_dark', 'atelier-estuary.dark', 'atom-one-dark', 'kimbie.dark',
  'solarized-light', 'atelier-estuary-light', 'atom-one-dark-reasonable', 'kimbie.light',
  'solarized_light', 'atelier-estuary.light', 'atom-one-light', 'lightfair', 'sunburst',
  'atelier-forest-dark', 'brown-paper', 'magula', 'tomorrow', 'atelier-forest.dark', 'brown_paper',
  'mono-blue', 'tomorrow-night-blue', 'atelier-forest-light', 'monokai', 'tomorrow-night-bright',
  'atelier-forest.light', 'monokai-sublime', 'tomorrow-night', 'atelier-heath-dark', 'codepen-embed',
  'monokai_sublime', 'tomorrow-night-eighties', 'atelier-heath.dark', 'color-brewer', 'night-owl',
  'vs2015', 'atelier-heath-light', 'darcula', 'nord', 'vs', 'atelier-heath.light', 'dark',
  'obsidian', 'xcode', 'atelier-lakeside-dark', 'darkula', 'ocean', 'xt256', 'atelier-lakeside.dark',
  'default', 'paraiso-dark', 'zenburn', 'atelier-lakeside-light', 'docco', 'paraiso.dark' ]
{
  [data-theme='#{$theme}'] {
    @include meta.load-css('~highlightjs/styles/#{$theme}');
  }
}
