@use '~material-components-web' as mdc;
@use "~@material/textfield";

body {
  background-color: #fafafa;
  color: #000000de;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 30px;
}

.mdc-card {
  padding: 16px;
  max-width: 65ch;
}

#input, #output {
  textarea {
    font-family: "Roboto Mono", monospace;
  }
}

#output .mdc-text-field {
  @include textfield.disabled-ink-color(rgb(0 0 0 / 0.6));
  @include textfield.disabled-fill-color(white);
}