<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cohost Syntax Highlighter</title>
    <link rel="icon" href="{{ '/images/favicon.png' | url }}" type="image/svg+xml" />
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
  </head>
  <body class="mdc-typography">
    <div class="mdc-card" id="input">
      <div class="mdc-select mdc-select--filled demo-width-class" id="select-language">
        <div
          class="mdc-select__anchor"
          role="button"
          aria-haspopup="listbox"
          aria-expanded="false"
          aria-labelledby="demo-label demo-selected-text"
        >
          <span class="mdc-select__ripple"></span>
          <span id="demo-label" class="mdc-floating-label">Language</span>
          <span class="mdc-select__selected-text-container">
            <span id="demo-selected-text" class="mdc-select__selected-text">Auto</span>
          </span>
          <span class="mdc-select__dropdown-icon">
            <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5" focusable="false">
              <polygon
                class="mdc-select__dropdown-icon-inactive"
                stroke="none"
                fill-rule="evenodd"
                points="7 10 12 15 17 10"
              ></polygon>
              <polygon
                class="mdc-select__dropdown-icon-active"
                stroke="none"
                fill-rule="evenodd"
                points="7 15 12 10 17 15"
              ></polygon>
            </svg>
          </span>
          <span class="mdc-line-ripple"></span>
        </div>
        <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
          <ul class="mdc-list" role="listbox" aria-label="Language picker listbox">
            <li
              class="mdc-list-item mdc-list-item--selected"
              aria-selected="true"
              data-value="auto"
              role="option"
            >
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text"> Auto </span>
            </li>
            {% for language in languages %}
            <li class="mdc-list-item" data-value="{{language}}" role="option">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">{{language}}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <label class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label mdc-floating-label--float-above">Source Code</span>
        <textarea
          class="mdc-text-field__input"
          rows="12"
          cols="60"
          aria-label="Label"
          spellcheck="false"
        ></textarea>
        <span class="mdc-line-ripple"></span>
      </label>
    </div>

    <div class="mdc-card mdc-card--outlined" id="output" data-theme="default">
      <div class="mdc-select mdc-select--filled demo-width-class" id="select-theme">
        <div
          class="mdc-select__anchor"
          role="button"
          aria-haspopup="listbox"
          aria-expanded="false"
          aria-labelledby="demo-label demo-selected-text"
        >
          <span class="mdc-select__ripple"></span>
          <span id="demo-label" class="mdc-floating-label">Theme</span>
          <span class="mdc-select__selected-text-container">
            <span id="demo-selected-text" class="mdc-select__selected-text">Default</span>
          </span>
          <span class="mdc-select__dropdown-icon">
            <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5" focusable="false">
              <polygon
                class="mdc-select__dropdown-icon-inactive"
                stroke="none"
                fill-rule="evenodd"
                points="7 10 12 15 17 10"
              ></polygon>
              <polygon
                class="mdc-select__dropdown-icon-active"
                stroke="none"
                fill-rule="evenodd"
                points="7 15 12 10 17 15"
              ></polygon>
            </svg>
          </span>
          <span class="mdc-line-ripple"></span>
        </div>
        <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
          <ul class="mdc-list" role="listbox" aria-label="Theme picker listbox">
            <li
              class="mdc-list-item mdc-list-item--selected"
              aria-selected="true"
              data-value="default"
              role="option"
            >
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text"> Default </span>
            </li>
            {% for theme in themes %}
            <li class="mdc-list-item" data-value="{{theme.id}}" role="option">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">{{theme.name}}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <pre
        class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--disabled hljs"
      >
        <span class="mdc-floating-label mdc-floating-label--float-above">Highlighted</span>
        <code
          class="mdc-text-field__input"W
        ></code>
      </pre>
      <div>
        <button class="mdc-button mdc-button--raised" id="copy-html">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__focus-ring"></span>
          <span class="mdc-button__label">Copy HTML</span>
        </button>
      </div>
    </div>
    <script src="{{ '/ts/index.js' | url }}"></script>
  </body>
</html>
